@import url('https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900');

@font-face {
  font-family:"Aller Bold";
  src: url("../fonts/Aller_Bd.eot?") format("eot"),
      url("../fonts/Aller_Bd.woff") format("woff"),
      url("../fonts/Aller_Bd.ttf") format("truetype"),
      url("../fonts/Aller_Bd.svg#Aller-Bold") format("svg");
  font-weight:normal;
  font-style:normal;
}

@font-face {
  font-family: "ConthraxSB";
  src: url("../fonts/conthrax-sb.otf") format("opentype");
  font-weight: normal;
  font-style: normal;
}


/* VARIAVEIS */
:root{
  // --mainColor: #92B6C6;
  --mainColor: #4b7da0;
  --secColor: #1A396A;
  --bgColor: #fefefe;
  --mainHighlight: #1B4991;
}

.invalid-feedback{
  display: block !important;
}

.fa-duotone:before, .fa-duotone.fa-swap-opacity:before, .fa-duotone:after {
  opacity: 1;
}

body{
  scrollbar-width: thin;
}

/* PAGINA INICIAL */
#homepage{
  font-family: 'Poppins', sans-serif;
  font-weight: 300;
  font-size: 15px;
  line-height: 1.7;
  color: var(--secColor);
  overflow-x: hidden;
  background-color: var(--bgColor);

  .hpMsg{
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
    padding: 10px;
  }

  .fa-duotone{
    --fa-primary-color: var(--secColor);
    --fa-secondary-color: var(--mainColor);
  }
  p{
    color: var(--mainColor);
  }
  .meta-logo{
    width: 10%!important;
    margin-bottom: 0.5em;
  }
  .bp-logo{
    width: 60%!important;
    margin-bottom: 0.5em;
  }
  .invalid-feedback{
    color: var(--secColor);
  }
  .modal-content{
    background-color: var(--bgColor);
  }
  a {
    cursor: pointer;
    transition: all 200ms linear;
  }
  a:hover {
    text-decoration: none;
  }
  .link {
  color: var(--secColor);
  }
  .link:hover {
    color: var(--mainHighlight);
  }
  p {
    font-weight: 500;
    font-size: 14px;
    line-height: 1.7;
  }
  h3{
    color: var(--mainColor);
  }
  h4 {
    font-weight: 600;
    color: var(--mainColor);
  }
  h6 span{
    padding: 0 20px;
    text-transform: uppercase;
    font-weight: 700;
  }
  .section{
    position: relative;
    width: 100%;
    display: block;
  }
  .full-height{
    min-height: 100vh;
  }
  [type="checkbox"]:checked,
  [type="checkbox"]:not(:checked){
    position: absolute;
    left: -9999px;
  }
  .checkbox:checked + label,
  .checkbox:not(:checked) + label{
    position: relative;
    display: block;
    text-align: center;
    width: 60px;
    height: 16px;
    border-radius: 8px;
    padding: 0;
    margin: 10px auto;
    cursor: pointer;
    background-color: var(--secColor);
  }
  .checkbox:checked + label:before,
  .checkbox:not(:checked) + label:before{
    position: absolute;
    display: block;
    width: 36px;
    height: 36px;
    border-radius: 50%;
    color: var(--secColor);
    background-color: var(--bgColor);
    font-family: 'Font Awesome 6 Pro';
    content: '\e09d';
    z-index: 20;
    top: -10px;
    left: -10px;
    line-height: 36px;
    text-align: center;
    font-size: 24px;
    transition: all 0.5s ease;
  }
  .checkbox:checked + label:before {
    transform: translateX(44px) rotate(-270deg);
  }
  .card-3d-wrap {
    position: relative;
    width: 440px;
    max-width: 100%;
    height: 500px;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    perspective: 800px;
    margin-top: 60px;
  }
  .card-3d-wrapper {
    width: 100%;
    height: 100%;
    position:absolute;
    top: 0;
    left: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    transition: all 600ms ease-out; 
  }
  .card-front, .card-back {
    width: 100%;
    height: 100%;
    background-color: var(--mainColor);
    background-image: url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/1462889/pat.svg');
    background-position: bottom center;
    background-repeat: no-repeat;
    background-size: 300%;
    position: absolute;
    border-radius: 6px;
    left: 0;
    top: 0;
    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -o-backface-visibility: hidden;
    backface-visibility: hidden;
  }
  .card-back {
    transform: rotateY(180deg);
  }
  .checkbox:checked ~ .card-3d-wrap .card-3d-wrapper {
    transform: rotateY(180deg);
  }
  .center-wrap{
    position: absolute;
    width: 100%;
    padding: 0 35px;
    top: 50%;
    left: 0;
    transform: translate3d(0, -50%, 35px) perspective(100px);
    z-index: 20;
    display: block;
  }
  .form-group{ 
    position: relative;
    display: block;
    margin: 0;
    padding: 0;
  }
  .form-style {
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 80%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.5px;
    outline: none;
    color: var(--mainColor);
    background-color: var(--bgColor);
    border: none;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .fs-textarea{
    height: auto;
  }
  .form-style:focus,
  .form-style:active {
    border: none;
    outline: none;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .input-icon {
    position: absolute;
    top: 0;
    left: 60px;
    height: 48px;
    font-size: 24px;
    line-height: 48px;
    text-align: left;
    color: var(--secColor);
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .togglePassword{
    left: 360px !important;
  }
  .form-group input:-ms-input-placeholder  {
    color: var(--mainColor);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input::-moz-placeholder  {
    color: var(--mainColor);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:-moz-placeholder  {
    color: var(--mainColor);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input::-webkit-input-placeholder  {
    color: var(--mainColor);
    opacity: 0.7;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus:-ms-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus::-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus:-moz-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .form-group input:focus::-webkit-input-placeholder  {
    opacity: 0;
    -webkit-transition: all 200ms linear;
    transition: all 200ms linear;
  }
  .btn{  
    border-radius: 4px;
    height: 44px;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    -webkit-transition : all 200ms linear;
    transition: all 200ms linear;
    padding: 0 30px;
    letter-spacing: 1px;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    -ms-flex-pack: center;
    text-align: center;
    border: none;
    background-color: var(--secColor);
    color: #fff;
    box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  }
  .form-check{
    label{
      color: var(--mainColor);
    }
    .form-check-input:checked{
      background-color: var(--mainColor);
      border-color: var(--secColor);
    }
    .form-check-input:focus{
      box-shadow: 0 0 0 0.25rem rgb(103 171 113 / 25%);
    }
  }
  .btn:active,
  .btn:focus{  
    background-color: var(--bgColor);
    color: var(--mainColor);
  }
  .btn:hover{  
    background-color: var(--bgColor);
    color: var(--mainColor);
  }
  .btn{
    box-shadow: none;
    border: 1px solid var(--bgColor);
  }
  .logo {
    position: absolute;
    top: 30px;
    right: 30px;
    display: block;
    z-index: 100;
    transition: all 250ms linear;
  }
  .logo img {
    height: 26px;
    width: auto;
    display: block;
  }

  .select2-selection__arrow{
    height: 48px;
  }
  .select2-container--default .select2-selection--single{
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    outline: none;
    color: var(--mainColor);
    background-color: var(--bgColor);
    border: none;
    transition: all 200ms linear;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }

  .rodape{
    position: fixed;
    bottom: 0;
    font-family: "ConthraxSB";
    min-height: 40px;

    div{
      font-size: 1rem;
      a{
        color: var(--secColor);
        font-weight: bold;
      }
      .logo-rodape{
        width: 1.5%;
        margin-top: -5px;
      }
    }
  }

  #menuHome{
    background-color: var(--secColor) !important;
    box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
    a, .navbar-brand, .navbar-nav .nav-link{
      color: var(--bgColor) !important;
      font-weight: 500;
    }
    .navbar-brand .brand-text{
      font-size: 1.5rem;
      margin-left: 10px;
    }
    .navbar-nav .nav-link:hover{
      color: var(--mainHighlight) !important;
    }
    .dropdown-menu{
      background-color: var(--bgColor);
      border: none;
      box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
      a{
        color: var(--mainColor) !important;
        font-weight: 500;
      }
      a:hover{
        background-color: var(--mainHighlight);
        color: var(--bgColor) !important;
      }
    }
  }

  .modal{
    .modal-dialog{
      --bs-modal-border-width: 2px;
      --bs-modal-border-radius: 0;
      --bs-modal-inner-border-radius: 0;
      --bs-modal-border-color: #1f202980;
    }
    .modal-header{
      display: block;
      padding: 1px 1px;
      background-color: var(--secColor);
      color: var(--bgColor);
      border-top: 1px solid #1f202980;

      i{
        font-size: 1rem;
        vertical-align: -webkit-baseline-middle;
      }

      .mTitle{
        text-align: center;
        font-size: 1.5rem;
        font-family: 'Poppins', sans-serif;
        font-weight: 400;
        text-transform: uppercase;
      }
      .mType{
        text-align: center;
      }
      .mClose{
        text-align: center;
        cursor: pointer;
      }
    }
    .modal-body{
      background-color: var(--secColor);

      .link{
        color: var(--bgColor);
      }
    }
    .modal-footer{
      border-top: 1px solid #1f202980;
      background-color: var(--secColor);
    }
    .form-logo{
      width: 45%;
    }
  }

}
.select2-container--default .select2-results>.select2-results__options{
  max-height: 210px !important;
}
.customSelectHeight .select2-results>.select2-results__options{
  max-height: 325px !important;
}
.modal{
  .select2-selection__arrow{
    height: 48px;
  }
  .select2-container--default .select2-selection--single{
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    outline: none;
    color: var(--mainColor);
    background-color: var(--bgColor);
    border: none;
    transition: all 200ms linear;
    // box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .select2-container .select2-selection--single .select2-selection__rendered{
    text-align: left;
  }
  .select2-results ul li{
    color: var(--mainColor);
  }
}

/* PAINEL */
body {
  font-family: 'Poppins', sans-serif;
  background: var(--bgColor);
}
body::-webkit-scrollbar {
  width: 0.5em;
}
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
body::-webkit-scrollbar-thumb {
  background-color: var(--bgColor);
  outline: 1px solid var(--bgColor);
}
p {
  font-family: 'Poppins', sans-serif;
  font-size: 1.1em;
  font-weight: 300;
  line-height: 1.7em;
  color: #999;
}
.fa-duotone{
  --fa-primary-color: var(--mainColor);
  --fa-secondary-color: var(--bgColor);
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */
a {
  text-decoration: none;
}
#sidebarCollapse{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: var(--mainColor);
  color: var(--mainColor);
  box-shadow: 0 8px 24px 0 rgb(26 57 106 / 03%)
}
.sideTop {
  padding: 15px 10px;
  background: var(--secColor) !important;
  border: none;
  border-radius: 0;
  margin-bottom: 10px;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}
.sideTop-btn {
  box-shadow: none;
  outline: none !important;
  border: none;
  i{
    --fa-primary-color: var(--secColor) !important;
    --fa-secondary-color: var(--bgColor) !important;
  }
}
.sideTop-title{
  color: var(--bgColor);
  font-family: "Poppins", sans-serif;
  padding: 0;
  margin: 0;
}
#SideBarNav {
  width: 254px;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  z-index: 999;
  background: var(--secColor);
  color: var(--bgColor);
  transition: all 0.3s;
  overflow: auto;
  padding: 70px 0px 0px 0px;
  margin: 0px;
}
#SideBarNav::-webkit-scrollbar {
  width: 0.5em;
}
#SideBarNav::-webkit-scrollbar-track {
  box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
}
#SideBarNav::-webkit-scrollbar-thumb {
  background-color: var(--secColor);
  outline: 1px solid var(--secColor);
}
#SideBarNav.active {
  transition: all .3s;
  width: 80px;
}
#SideBarNav.active span {
  transition: all .3s;
  opacity: 0;
  display: none;
}
#SideBarContent {
  margin-left: 250px;
  transition: all .3s;
}
#SideBarContent.active {
  transition: all .3s;
  margin-left: 77px;
}
.divMenu {
  border-bottom: 1px solid #808080;
  padding-bottom: 10px;
  padding-left: 0rem;
  list-style: none;
  margin-top: 13px;
}
.divMenu ul {
  list-style: none;
  padding: 0px;
  background-color: var(--secColor);
}
.divMenu .MenuItem .IconSub {
  margin-right: 0px;
}
.divMenu .MenuItem a {
  color: #FFF;
  display: block;
  margin: 0px 0px 0px 10px;
  padding: 10px 5px 10px 15px;
  transition: all .3s;
  cursor: pointer;
}
.divMenu .MenuItem a i {
  width: 21px;
  height: 21px;
  display: inline-block;
}
.divMenu .MenuItem a:hover {
  background: #716868;
}
.divMenuSub .SMenuItem a {
  color: #FFF;
  display: block;
  margin: 0px 0px 0px 20px;
  padding: 10px 5px 10px 20px;
  transition: all .3s;
}
.divMenuSub .SMenuItem a span {
  transition: all .3s;
  opacity: 1;
}
.divMenuSub .SMenuItem a:hover {
  background: #716868;
}
#SideBarNav ul li a {
  font-size: 1.1em;
}
#SideBarNav ul li a:hover {
  color: #2a2b38;
  background: var(--bgColor);
  border-radius: 20px 0 0 20px;
  i{
    --fa-primary-color: var(--secColor) ;
    --fa-secondary-color: var(--mainColor) ;
  }
}
#SideBarNav ul li.active>a{
  color: #000;
  background: var(--bgColor);
  border-radius: 20px 0 0 20px;
}
#SideBarNav .MenuItem.active{
  .fa-duotone{
    --fa-primary-color: var(--secColor) ;
    --fa-secondary-color: var(--mainColor) ;
  }
  ul li a:hover{
    i{
      --fa-primary-color: var(--secColor) !important;
      --fa-secondary-color: var(--mainColor) !important;
    }
  }
}
#SideBarNav .MenuItem.active .SMenuItem{
  .fa-duotone{
    --fa-primary-color: var(--mainColor) ;
    --fa-secondary-color: #fff ;
  }
}
#SideBarNav .MenuItem.active .SMenuItem.active{
  .fa-duotone{
    --fa-primary-color: var(--secColor) ;
    --fa-secondary-color: var(--mainColor) ;
  }
}
#SideBarNav .CTAs {
  padding: 20px;
}
#SideBarNav .CTAs a {
  color: #fff;
  text-align: center;
  font-size: 0.9em !important;
  display: block !important;
  border-radius: 5px;
  margin-bottom: 5px;
}
#SideBarNav .CTAs .wa-bp {
  color: var(--secColor);
  font-size: 1em !important;
}
#SideBarNav .CTAs .wa-bp:hover {
  color: var(--mainColor);
  i{
    --fa-primary-color: var(--secColor) ;
    --fa-secondary-color: var(--mainColor) ;
  }
}
#SideBarNav .CTAs .menu-social{
  justify-content: center;
  margin-bottom: 0.5em;

  a{
    width: auto;
  }
  a:hover{
    color: var(--secColor);
  }
}

@media (max-width: 768px) {
  #SideBarNav {
    width: 100%;
    z-index: -1;
    opacity: 0;
  }
  #SideBarNav.active {
    width: 100% !important;
    z-index: 99 !important;
    opacity: 1 !important;
  }
  #SideBarNav.active span {
    transition: all .3s;
    opacity: 1;
    display: inline-block;
  }
  #SideBarContent {
    margin-left: 0px !important;
  }
  .divMenu{
    margin-top: 50px;
  }
  #homepage{
    .togglePassword{
      left: 210px !important;
    }
  }
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */
.icon-np{
  font-size: 34px;
  --fa-primary-color: var(--secColor);
  --fa-secondary-color: var(--mainColor);
}
.btn-np{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: var(--mainColor);
  color: var(--bgColor);
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn-np.active{
  background-color: var(--secColor);
  color: var(--bgColor);
}
.btn-np:hover{
  color: var(--mainColor);
  background-color: var(--secColor);
  i{
    --fa-primary-color: var(--mainColor) !important;
    --fa-secondary-color: var(--mainColor) !important;
  }
}
.btn-np:focus{
  color: var(--mainColor);
  background-color: var(--secColor);
  border-color: var(--bgColor);
  outline: 0;
}
.btn-np-light{
  border-radius: 4px;
  height: 44px;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: var(--secColor);
  color: #102770;
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
}
.btn-np-light:hover{
  color: var(--mainColor);
  background-color: var(--secColor);
  cursor: pointer;
}
.btn-np-light:focus{
  color: var(--mainColor);
  background-color: var(--secColor);
  border-color: var(--bgColor);
  outline: 0;
}
.btn-icon{
  border-radius: 4px;
  height: 44px;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  -webkit-transition : all 200ms linear;
  transition: all 200ms linear;
  letter-spacing: 1px;
  display: -webkit-inline-flex;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -ms-flex-pack: center;
  text-align: center;
  border: none;
  background-color: var(--mainColor);
  color: var(--bgColor);
  box-shadow: 0 8px 24px 0 rgba(255,235,167,.2);
  i{
    --fa-primary-color: var(--secColor) !important;
    --fa-secondary-color: var(--bgColor) !important;
  }
}
.btn-icon:hover{
  color: var(--mainColor) !important;
  background-color: var(--secColor) !important;
  i{
    --fa-primary-color: var(--bgColor) !important;
    --fa-secondary-color: var(--mainColor) !important;
  }
}
.btn-icon:focus{
  color: var(--mainColor);
  background-color: var(--secColor) !important;
  border-color: var(--bgColor) !important;
  outline: 0;
}
.btn-group-vertical>.btn, .btn-group>.btn{
  margin: 0 5px;
}
.collapseFilter{
  cursor: pointer;
}
td{
  vertical-align: middle;
}
.invalid-feedback{
  color: red;
  font-size: 0.8rem;
  font-style: italic;
}
input[readonly]{
  background: #eee;
}
select[readonly]{
  background: #eee;
  pointer-events: none;
  touch-action: none;
}

.indexDash{
  .dashTitle{
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    text-align: center;
    padding: 10px;
  }
  .dashMsg{
    background-color: #fff;
    color: #000;
    font-size: 1.2rem;
    font-weight: bold;
    text-align: justify;
    padding: 10px;
  }
}

.togglePassword{
  cursor: pointer;
  z-index: 1000;
  --fa-primary-color: var(--secColor);
  --fa-secondary-color: var(--mainColor);
}
.bl-none{
  border-left: none;
}
.br-none{
  border-right: none;
}
.bg-trans{
  background-color: transparent;
}

/* ---------------------------------------------------
    MODAL INFO
---------------------------------------------------- */
.mInfo{
  .modal-header{
    padding: 5px 10px;
    background-color: var(--mainColor);
    color: var(--bgColor);

    button{
      color: var(--bgColor);
    }
  }
  .row>*{
    padding-left: 0 !important;
    padding-right: 0 !important;
  }
  .card-header{
    background-color: var(--mainColor);
    color: var(--bgColor);
    font-size: 1.2rem;
    font-weight: bold;
    text-align: center;
  }
  .infoCol{
    background-image: linear-gradient(var(--secColor), var(--secColor)),linear-gradient(var(--secColor), var(--secColor)),linear-gradient(var(--secColor), var(--secColor)),linear-gradient(var(--secColor), var(--secColor));
    background-repeat: no-repeat;
    background-size: 1px 50%,100% 1px,1px 50%,100% 1px,calc(100% - 8px) calc(100% - 8px);
    background-position: left bottom,left bottom,right top,right top,4px 4px;
    justify-content: space-between;
    display: flex;
    min-height: 40px !important;
    margin: 5px;
    padding: 5px 0;
  }
  .infoLabel{
    margin: 0 10px;
    color: #000;
    font-weight: 500;
  }
  .infoData{
    margin: 2px 15px;
    color: #000;
    font-weight: 600;
    overflow-wrap: anywhere;
  }
  .infoLinha{
    margin: 2px 15px;
    color: #000;
    font-weight: 400;
    white-space: pre;
  }
  .nav-item .btn-np:hover{
    cursor: pointer;
  }

  .accordion-button:not(.collapsed){
    color: var(--bgColor);
    background-color: var(--secColor);
  }
  .accordion-button:not(.collapse):hover{
    color: var(--bgColor);
    background-color: var(--secColor);
  }
  .accordion-button:not(.collapse){
    color: var(--bgColor);
    background-color: var(--mainColor);
  }
}

.titleSection{
  background-color: var(--mainColor);
  color: var(--bgColor);
  font-size: 1.2rem;
  font-weight: bold;
  text-align: center;
  padding: 10px;
}

.dashboard{
  .modal-dialog{
    --bs-modal-border-width: 2px;
    --bs-modal-border-radius: 0;
    --bs-modal-inner-border-radius: 0;
    --bs-modal-border-color: var(--mainColor);
  }
  .modal-header{
    display: block;
    padding: 1px 1px;
    background-color: var(--mainColor);
    color: var(--bgColor);
    border-bottom: 2px solid var(--mainColor);

    i{
      font-size: 2rem;
    }

    .mTitle{
      text-align: center;
      font-size: 1.5rem;
      font-family: 'Poppins', sans-serif;
      font-weight: 400;
      text-transform: uppercase;
    }
    .mType{
      text-align: center;
    }
    .mClose{
      text-align: center;
      cursor: pointer;
    }
  }
  .modal-footer{
    border-top: 1px solid #1f202980;
  }
  .bp-logo{
    width: 45%;
  }
  .select2-container--default .select2-selection--single{
    font-family: 'Poppins', sans-serif;
    padding: 13px 20px;
    padding-left: 55px;
    height: 48px;
    width: 100%;
    font-weight: 500;
    border-radius: 4px;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: .5px;
    outline: none;
    color: var(--mainColor);
    background-color: #fff;
    border: none;
    transition: all 200ms linear;
    // box-shadow: 0 4px 8px 0 rgba(21,21,21,.2);
  }
  .select2-container .select2-selection--single{
    height: 38px;
    padding: 0.3rem 0.3rem;
    border: 1px solid #ced4da;
  }
  .select2-container--default .select2-selection--single .select2-selection__arrow{
    height: 35px;
  }
  .rowSpecial{
    --bs-gutter-x: 0;
    --bs-gutter-y: 0;
  }
}

/* ---------------------------------------------------
    DATATABLE
----------------------------------------------------- */
.dataTables_wrapper{
  .bottom{
    display: flex;
    justify-content: space-between;
  }
  div.dataTables_filter{
    text-align: left !important;
  }
  .page-link{
    background-color: var(--mainColor);
    border-color: var(--mainColor);
    color: #fff;
  }
  .page-link:hover{
    background-color: var(--secColor);
    color: #000;
  }
  .active>.page-link{
    background-color: var(--secColor);
    color: var(--bgColor);
  }
  .disabled>.page-link{
    background-color: var(--bgColor);
    color: #bbb;
  }
  .disabled>.page-link:hover, .page-item.disabled:hover{
    cursor: not-allowed;
  }
  .cell-small{
    font-size: 0.75em;
  }
  table.dataTable thead>tr>th.sorting_asc:before, table.dataTable thead>tr>th.sorting_desc:after, table.dataTable thead>tr>td.sorting_asc:before, table.dataTable thead>tr>td.sorting_desc:after{
    color: var(--secColor);
  }
}

/* ---------------------------------------------------
    LOADING SPINNER
----------------------------------------------------- */
.spanner{
  position:absolute;
  top: 50%;
  left: 0;
  background: rgb(42 43 56 / 75%);
  width: 100%;
  display:block;
  text-align:center;
  height: 100%;
  color: var(--bgColor);
  transform: translateY(-50%);
  z-index: 1000;
  visibility: hidden;
}
.spanner p{
  color: #fff;
  text-transform: uppercase;
  font-weight: bold;
}
.overlay{
  position: fixed;
	width: 100%;
	height: 100%;
  background: transparent;
  visibility: hidden;
}
.loader,
.loader:before,
.loader:after {
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation: load7 1.8s infinite ease-in-out;
  animation: load7 1.8s infinite ease-in-out;
}
.loader {
  color: var(--secColor);
  font-size: 10px;
  margin: 200px auto;
  position: relative;
  text-indent: -9999em;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  content: '';
  position: absolute;
  top: 0;
}
.loader:before {
  left: -3.5em;
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}
.loader:after {
  left: 3.5em;
}
@-webkit-keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
@keyframes load7 {
  0%,
  80%,
  100% {
    box-shadow: 0 2.5em 0 -1.3em;
  }
  40% {
    box-shadow: 0 2.5em 0 0;
  }
}
.show{
  visibility: visible;
}
.spanner, .overlay{
	opacity: 0;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.spanner.show, .overlay.show {
	opacity: 1;
  z-index: 9999;
  cursor: wait;
}